# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
ENV/
*.venv

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# PyTorch model files
*.pth

# Dataset and annotations
data/
!data/*.coco.json  # Include COCO annotations
data/train/
data/valid/
data/test/

# Logs and debug files
*.log
*.txt
logs/
*.out

# Exception: Do not ignore this specific .txt file
!requirements.txt

# Output visualizations
visualizations_test_images/
visualizations_new_images/

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Test artifacts
tests/

# Temporary files
*.tmp
*.bak
*.swp

# .py files
